/*--fonts--*/
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*--global style--*/
:root {
    --main-color: #442270;
    --color-1: #7239BD;
    --color-2: #9047F0;
    --color-3: #BB91F2;
    --bg-color: #eeeeee;
    --shadow-black-100: 0 5px 15px rgba(0,0,0,0.1);
    --shadow-black-300: 0 5px 15px rgba(0,0,0,0.3);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    background-color: var(--bg-color);
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    outline: none!important;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
}

.btn-1 {
    background-color: var(--color-2);
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
    color: oldlace;
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.3s ease;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;
}

.btn-1:focus {
    box-shadow: var(--shadow-black-300);
}

.btn-1:hover {
    color: var(--color-2);
    background-color: oldlace;
}

.section-padding {
    padding: 50px 0;
}

.section-title {
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 36px;
    color: var(--color-1);
    font-weight: 700;
    text-align: center;
    margin: 0;
}

/*--top button--*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--color-3);
    color: oldlace;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
  }
  
  #myBtn:hover {
    background-color: var(--color-2); /* Add a dark-grey background on hover */
  }

/*--navbar--*/
.navbar {
    background-color: var(--main-color);
    padding: 20px 20px;
}

.navbar > .container {
    padding: 15px 0;
}

.navbar .navbar-brand {
    font-family: 'Gochi Hand', italic;
    font-size: 30px;
    color: oldlace;
}

.navbar .nav-item {
    margin-left: 40px;
}

.navbar .nav-item .nav-link {
    color: oldlace;
    font-size: 20px;
    font-weight: 400;
    padding: 5px 0;
    position: relative;
}

.navbar .nav-item .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    background-color: oldlace;
    transition: all 0.6s ease;
    transform: scale(0);
}

.navbar .nav-item .nav-link:hover::before {
    transform: scale(1);
}

/*--home section--*/
.home {
    min-height: 80vh;
    padding: 50px 0;
}

.home-img {
    max-width: 300px;
    width: 100%;
    margin: auto;
    position: relative;
}

.home-text h1 {
    font-size: 45px;
    font-weight: 700;
    color: var(--color-1);
    margin: 0 0 20px;
}

.home-text p {
    font-size: 18px;
    line-height: 28px;
    color: var(--color-1);
    margin: 0;
    font-weight: 400;
}

.home .home-btn {
    margin-top: 40px;
}

/*--mental health--*/
.mental-health .section-title {
    margin-bottom: 20px;
}

.mental-health .section-title h2 {
    text-align: right;
}

.mental-health-img {
    max-width: 300px;
    width: 100%;
    margin: auto;
    position: relative;
}

.mental-health-text {
    font-size: 16px;
    line-height: 26px;
    color: var(--color-1);
    margin: 0 0 15px;
    font-weight: 400;
    text-align: right;
}

.mental-health-item {
    padding: 40px 30px;
    text-align: center;
    box-shadow: var(--shadow-black-100);
    border-radius: 10px;
    margin-top: 30px;
}

.mental-health-item h4 {
    font-size: 20px;
    font-weight: 300;
    color: oldlace;
    margin: 0 0 5px;
}

.mental-health-item span {
    font-weight: 900;
}

.mental-health-item.style-1 {
    background-color: var(--color-2);
}

.mental-health-item.style-2 {
    background-color: var(--color-2);
}

.mental-health-item.style-3 {
    background-color: var(--color-2);
}

.mental-health-item.style-4 {
    background-color: var(--color-2);
}

/*--features--*/
.features .feature-item {
    box-shadow: var(--shadow-black-100);
    margin: 15px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.features .feature-item .icon {
    height: 60px;
    width: 60px;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 30px;
    color: var(--color-3);
    position: relative;
    z-index: 1;
    transition: all 0.5s ease;
}

.features .feature-item .icon i {
    line-height: 60px;
}

.features .feature-item h3 {
    font-size: 22px;
    margin: 0 0 20px;
    color: var(--color-1);
    font-weight: 500;
    text-transform: capitalize;
}

.features .feature-item p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: var(--color-1);
    margin: 0 0 15px;
}


/*--faq section--*/
.faq:not(:last-child) {
    margin-bottom: 20px;
}

.faq h3 {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-1);
    margin: 5px 0;
}

.faq p {
    font-weight: 300;
    font-size: 16px;
    color: var(--color-1);
    line-height: 26px;
    margin: 0;
}

.faq-item {
    margin: 30px 0;
}

/*--gallery--*/
.gallery {
    text-align: center;
}

.gallery h2 {
    margin-bottom: 50px;
}

.gallery img {
    max-width: 300px;
    margin: 0 20px;
}

/*--about--*/
.about {
    text-align: center;
    font-size: 14px;
}

.about p {
    margin-top: 50px;
    color: var(--color-1)
}

/*--footer--*/
h5 {
    text-align: center;
    background-color: var(--main-color);
    margin: 0;
    padding: 20px 0;
    font-size: 14px;
    color: oldlace;
}

/*--responsive design--*/
@media(max-width: 767px) {
    .home-text {
        margin-bottom: 80px;
    }
    .mental-health-img {
        margin-bottom: 30px;
    }
    .section-title h2 {
        font-size: 35px;
    }
    * {
        text-align: center;
    }
}
@media(max-width: 575px) {
    .home-text h1 {
        font-size: 30px;
    }
    .home-text p {
        font-size: 16px;
    }
    .section-title h2 {
        font-size: 30px;
    }
}
@media(max-width: 472px) {
    .navbar .navbar-brand {
        font-size: 18px;
    }
}